@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

#home {
    width: auto;
    height: calc(100vh - 80px);
    background-image: url("elements/cfi-hackathon.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#home div {
    position: relative;
    top: 35%;
    left: 7%;
    display: flex;
    flex-direction: column;
}

.title-text {
    font-size: 5vw;
    color: white;
    line-height: 11vh;
}

#home h6 {
    margin-top: 10px;
    font-size: 1vw;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    width: 45vw;
    padding: 10px;
    border-radius: 21px;
}

#home button {
    width: 110px;
    height: 50px;
    margin: 20px 0px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    color: white;
}

#home button:hover {
    font-weight: bolder;
    background-color: black;
}